@model IEnumerable<DemoApp.Model.Employee>

@{
    ViewData["Title"] = "Index";
    bool disable = false;
}

<p>
    @if (User.Identity.IsAuthenticated)
    {
        if (Helper.GetCurrentRole(User) == Roles.User.ToString())
        {
            <a class="btn btn-primary text-white" disabled="disabled">Create new</a>
        }
        else
        {

            <a asp-action="Create" class="btn btn-primary">Create New</a>
        }
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Designation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Designation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                @if (Helper.GetCurrentRole(User) == Roles.User.ToString())
                {
            <td>
                <a class="btn btn-info text-white" disabled="disabled">Edit</a> |
                <a class="btn btn-danger text-white" disabled="disabled">Delete</a>
            </td>
                }
                else
                {


                <td>
                    <a asp-action="Edit" asp-route-id="@item.PkEmpId" class="btn btn-info">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.PkEmpId" class="btn btn-danger">Delete</a>
                </td>
                }
            </tr>
        }
    </tbody>
</table>
